.proposal-form-container {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.proposal-form-container form {
    width: 1140px;
    /* min-width: 1140px; */
    background: white;
    border-radius: 12px;
    position: relative;
}

.proposal-form-container form .error {
    font-size: 14px;
    color: red;
}

.proposal-form-container form .section-container {
    display: flex;
}

.proposal-form-container form #cross {
    position: absolute;
    font-size: 42px;
    color: grey;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.proposal-form-container form h1 {
    height: 65px;
    font-size: 26px;
    font-weight: 500;
    border-bottom: 1px solid #E5E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.proposal-form-container form .left-section {
    width: 570px;
    padding-left: 60px;
    padding-right: 45px;
    border-right: 1px solid #E5E0E0;
}

.proposal-form-container form .left-section .name-field {
    width: 100%;
    margin-bottom: 25px;
}

.proposal-form-container form .left-section .name-field label {
    margin-bottom: 10px;
    display: block;
}

.proposal-form-container form .left-section .name-field input {
    width: 100%;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 10px;
    outline: none;
}
.proposal-form-container form .left-section .name-field input:hover {
    border: 1px solid rgb(49, 59, 231);
}

.proposal-form-container form .left-section .type-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}
.proposal-form-container form .left-section .type-field :hover{
    border: 1px solid blue;
}

.proposal-form-container form .left-section .type-field .type {
    position: relative;
}

.proposal-form-container form .left-section .type-field .type label {
    margin-bottom: 10px;
    display: block;
}

.proposal-form-container form .left-section .type-field .type input,
.proposal-form-container form .left-section .type-field .type select{
    width: 190px;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 10px;
    outline: none;
}

.proposal-form-container form .left-section .type-field .type #budjet {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    font-size: 26px;
    font-weight: 600;
}

.proposal-form-container form .left-section .type-field .type span {
    position: absolute;
    right: 5px;
    top: 40px;
    color: grey;
    font-size: 22px;
    font-weight: bold;
}
.proposal-form-container form .left-section .name-field input:hover{
    border: 1px solid blueviolet;
}

.proposal-form-container form .left-section .description-field,
.proposal-form-container form .right-section .food-preference-field,
.proposal-form-container form .right-section .events-field {
    width: 100%;
}

.proposal-form-container form .right-section .food-preference-field {
    margin-bottom: 25px;
}

.proposal-form-container form .left-section .description-field label,
.proposal-form-container form .right-section .food-preference-field label,
.proposal-form-container form .right-section .events-field label {
    margin-bottom: 10px;
    display: block;
}

.proposal-form-container form .left-section .description-field textarea,
.proposal-form-container form .right-section .food-preference-field textarea,
.proposal-form-container form .right-section .events-field textarea {
    width: 100%;
    height: 140px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 10px;
    outline: none;
}

.proposal-form-container form .right-section .food-preference-field textarea,
.proposal-form-container form .right-section .events-field textarea {
    height: 110px;
}

.proposal-form-container form .button-field {
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    text-align: center;
}

.proposal-form-container form .button-field button {
    outline: none;
    border: none;
    padding: 15px 45px;
    border-radius: 8px;
    background: #4E94F4;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.proposal-form-container form .button-field button:hover,
.proposal-form-container form .button-field button:focus {
    box-shadow: 0 0 10px navy;
}

.proposal-form-container form .right-section {
    padding: 0 30px;
    max-width: 570px;
    flex-grow: 1;
}

.proposal-form-container form .right-section .img-field {
    width: 100%;
    margin-bottom: 25px;
}

.proposal-form-container form .right-section .img-field .label-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.proposal-form-container form .right-section .img-field .label-field input {
    height: 30px;
    width: 75px;
    display: none;
}

.proposal-form-container form .right-section .img-field .label-field #img-btn {
    padding: 5px 20px;
    background: none;
    font-size: 18px;
    font-weight: 600;
    color: #006BD9;
    border: 1px solid #0078DD;
    border-radius: 4px;
    cursor: pointer;
}

.proposal-form-container form .right-section .img-field .img-grid {
    display: grid;
    grid-template-columns: repeat(5, calc((100% - 20px) / 5));
    grid-template-rows: repeat(2, 84px);
    grid-gap: 5px;
}

.proposal-form-container form .right-section .img-field .img-grid .img-container {
    background: #FAFAFA;
    overflow: hidden;
}

.proposal-form-container form .right-section .img-field .img-grid .img-container img {
    width: 100%;
}

.loader {
    display: inline-block;
    height: 18px;
    width: 18px;
    border: 1px solid gray;
    border-top: 1px solid white;
    border-radius: 50%;
    animation: authLoader 2s infinite linear;
}

  
@keyframes authLoader {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

@media screen and (max-width : 1600px) {
    .proposal-form-container form h1 {
        margin-bottom: 10px;
    }

    .proposal-form-container form .left-section .name-field {
        margin-bottom: 15px;
    }

    .proposal-form-container form .left-section .name-field label {
        margin-bottom: 5px;
    }

    .proposal-form-container form .left-section .type-field {
        margin-bottom: 15px;
    }

    .proposal-form-container form .left-section .type-field .type label {
        margin-bottom: 5px;
    }

    .proposal-form-container form .left-section .type-field .type span {
        top: 35px;
    }

    .proposal-form-container form .right-section .food-preference-field {
        margin-bottom: 15px;
    }

    .proposal-form-container form .left-section .description-field label,
    .proposal-form-container form .right-section .food-preference-field label,
    .proposal-form-container form .right-section .events-field label {
        margin-bottom: 5px;
    }

    .proposal-form-container form .button-field {
        margin-top: 10px;
    }

    .proposal-form-container form .button-field button {
        padding: 10px 40px;
    }

    .proposal-form-container form .right-section .img-field {
        margin-bottom: 15px;
    }

    .proposal-form-container form .right-section .img-field .label-field {
        margin-bottom: 5px;
    }
}