.eachProposal-container {
    width: 1480px;
    border: 1px solid #D4D7DB;
    border-radius: 4px;
    margin-bottom: 15px;
}

.eachProposal-container:hover,
.eachProposal-container:focus {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #425E81;
}

.eachProposal-container .top-section {
    border-bottom: 1px solid #D4D7DB;
    padding: 15px 30px;
}

.eachProposal-container .top-section h1 {
    font-size: 20px;
    font-weight: 500;
}


.eachProposal-container .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eachProposal-container .bottom-section .event-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eachProposal-container .bottom-section .event-details div {
    padding: 15px 0 15px 30px;
    border-right: 1px solid #D4D7DB;
    min-width: 150px;
}

.eachProposal-container .bottom-section .event-details div h1 {
    font-size: 18px;
    font-weight: 500;
}

.eachProposal-container .bottom-section .event-details div p {
    color: #AAAAAA;
}

.eachProposal-container .bottom-section .feature {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.eachProposal-container .bottom-section .feature .delete-confirmation {
    position: absolute;
    width : 200px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 1px 2px 5px #f2ae1b;
    border: 2px solid #ea590b;
    top: 40px;
    left: -120px;
}

.eachProposal-container .bottom-section .feature .delete-confirmation::before {
    position: absolute;
    content: "";
    border-top: 2px solid #e3180d;
    border-left: 2px solid #f05310;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    right: 10px;
    top: -10px;
}

.eachProposal-container .bottom-section .feature .delete-confirmation p {
    margin-bottom: 5px;
}

.eachProposal-container .bottom-section .feature .delete-confirmation div {
    display: flex;
    justify-content: space-around;
}

.eachProposal-container .bottom-section .feature .delete-confirmation button {
    border: none;
    outline: none;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.eachProposal-container .bottom-section .feature .delete-confirmation button:hover,
.eachProposal-container .bottom-section .feature .delete-confirmation button:focus {
    box-shadow: 0px 0px 10px #e6f115;
}

.eachProposal-container .bottom-section .feature .delete-confirmation button:nth-child(1) {
    background-color: rgb(22, 169, 233);
}

.eachProposal-container .bottom-section .feature .delete-confirmation button:nth-child(2) {
    background-color: rgb(166, 230, 17);
}

.eachProposal-container .bottom-section .feature .img-container {
    height: 25px;
    width: 25px;
    margin-right: 30px;
    cursor: pointer;
}


@media screen and (max-width : 1600px) {
    .eachProposal-container {
        width: 80%;
       
    }
}