.signin-form-container {
    width: 380px;
    background: white;
    /* padding: 0 40px 30px 40px; */
    border-radius: 8px;
}

.signin-form-container .option {
    height: 50px;
    border-bottom: 1px solid #D1D1D1;
    padding: 10px 0 5px 0;
    display: flex;
}

.signin-form-container .option .vendor {
    border-right: 1px solid #D1D1D1;
}

.signin-form-container .option .vendor,
.signin-form-container .option .user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    cursor: pointer;
}


.signin-form-container form {
    padding: 30px 40px 30px;
}

.signin-form-container form .error {
    font-size: 14px;
    color: red;
}

.signin-form-container form .heading {
    font-size: 22px;
    margin-bottom: 30px;
}

.signin-form-container form .field-container {
    width: 100%;
    height: 40px;
}

.signin-form-container form .field-container.margin {
    margin-bottom: 30px;
}

.signin-form-container form .field-container.reg {
    margin-bottom: 15px;
}

.signin-form-container form .field-container input {
    width: 100%;
    height: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    padding: 15px 20px;
    outline: none;
}

.signin-form-container form .field-container input:hover,
.signin-form-container form .field-container input:focus,
.signin-form-container form .field-container input:valid {
    border: 1px solid #4E94F4;
}

.signin-form-container form .forget {
    text-align: end;
    color: #04425A;
    margin-top: 10px;
    cursor: pointer;
}

.signin-form-container form .btn-link-container {
display: flex;
justify-content: space-between;
align-items: center;
}

.signin-form-container form .btn-link-container.margin {
    margin-top: 45px;
}

.signin-form-container form .btn-link-container.reg {
    margin-top: 30px;
}

.signin-form-container form .btn-link-container .createLink {
    font-size: 18px;
    font-weight: 600;
    color: #4E94F4;
    align-self: flex-end;
    cursor: pointer;
}
.signin-form-container form .btn-link-container button {
    background: #4E94F4;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.signin-form-container form .btn-link-container button:hover,
.signin-form-container form .btn-link-container button:focus {
    box-shadow: 1px 1px 10px #4E94F4;
}

.signin-form-container form .btn-link-container button .loader {
    display: inline-block;
    height: 18px;
    width: 18px;
    border: 1px solid gray;
    border-top: 1px solid white;
    border-radius: 50%;
    animation: authLoader 2s infinite linear;
}

@keyframes authLoader {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}