.main-container {
    border: 1px solid #FFFFFF;
    min-width: 1200px;
}

.main-container #main-header{
height: 70px;
border: 1px solid grey;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #FFFFFF;
position: relative;
}

.main-container header .logo {
    margin-left: 40px;
    font-size: 32px;
    font-weight: bold;
    color: #64A1F5;
    cursor: pointer;
}

.main-container header nav {
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-container header nav p {
    font-weight: 600;
    font-size: 16px;
    color: #64A1F5;
    cursor: pointer;
    text-transform: capitalize;
}

.main-container header .img-container {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border: .5px solid gray;
    cursor: pointer;
}

.main-container header .img-container img {
    width: 100%;
    height: 100%;
}