.Headercard {
    color: black;
    position: absolute;
    top: 50px;
    right: 5px;
    background-color:#64A1F5;
    font-size: 16px;
    color: white;
    z-index: 1;
    border: 1px solid #64A1F5;
    box-shadow: 1px 1px 10px gray;
}

.Headercard::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background: #64A1F5;
    transform: rotate(45deg);
    top: -8px;
    right: 5px;
    z-index: -1;
}

.Headercard ul {
    list-style: none;
}

.Headercard ul li {
    cursor: pointer;
    border-bottom: 1px solid #D4D7DB;
    padding: 10px;
}

.Headercard ul li button{
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.Headercard ul li:hover,
.Headercard ul li:hover button {
    background: white;
    color: #64A1F5;
}

#Hcard {
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
}

.logout {
    background-color: #64A1F5;
    cursor: pointer;
}

.card-subtitle {
    margin-bottom: 5px;
}