.proposals {
    margin-top: 15px;
  width: 100%;
    height: 33px;
    text-align: left;
    font: normal normal 600 24px/33px Open Sans;
    letter-spacing: 0px;
    color: #575a5d;
    opacity: 1;
    padding: 0 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .eventlists {
    display: flex;
    padding-bottom: 20px;
  
    justify-content: start;
    align-items: center;
  }
  
  .slistmain{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
  }
  
  .cardslist{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .delete-confirmation{
    position: absolute;
    top: 60px;
    right:30px;
    background-color: white;
    box-shadow: 0px 0px 10px #ef5b0b;
    padding: 5px 10px;
  }
  .delete-confirmation::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: white;
    transform: rotate(45deg);
    right: 5px;
    top: -4px;
  }
  .delete-confirmation button:nth-child(1){
    background-color: rgb(24, 157, 240);
    padding: 5px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
  
  }
  .delete-confirmation button:nth-child(2){
    background-color: rgb(184, 241, 13);
    padding: 5px;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
  }
  .del-icon{
    position: absolute;
    top:20px;
    right: 20px;
    background-color: white;
  font-size: large;
  padding: 5px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  }
  .headerimg {
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .pagination{
    display: flex;
    justify-content: start;
    align-items: center;
  
  
  }
  .selectedtext{
  width: 98px;
  height: 33px;
  text-align: left;
  font: normal normal 600 24px/33px Open Sans;
  letter-spacing: 0px;
  color: #575A5D;
  opacity: 1;
  font-size: 20px;
  margin-left: 130px;
  margin-bottom: 15px;
  }
  .pages{
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .page-num{
    width: 100%;
  }
  .page{
    width: 100%;
  }
  .proposals .right-section-userProposal{
    position: relative;
    cursor: pointer;
  
  
  }
  
  .proposals .right-section-userProposal .img-container{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  margin-right: 50px;
  
  }
  
  
   #user-filter {
    position: absolute;
    background-color: #4E94F4;
    padding: 10px;
    color: white;
    font-size: 16px;
    top: 50px;
    left: -130px;
    /* right: 50%; */
    list-style: none;
  }
  
  #user-filter::before {
    background-color: #4E94F4;
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    top: -7px;
    right: 6px;
  }
  

  
  #user-filter li input {
    margin-right: 10px;
    cursor: pointer;
  }
  
  #user-filter li label{
    cursor: pointer;
  }
  .proLoader {
    width: 50px;
    height: 50px;
    border: 4px solid #D4D7DB;
    border-top: 4px solid #4E94F4;
    border-radius: 50%;
    animation: proLoader 2s infinite linear;
  }
  
  @keyframes proLoader {
    100% {transform: rotate(360deg);}
  }
  .proloader-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .resultText {
    color: #AAAAAA;
  
  }
  .resulttext-container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  align-items: center;
  }